{%extends "layout.html"%}
{% block htmlTitle %}XDS repository: Document {{d.entryUUID}}{% endblock %}
{% block htmlHead %}
<style>
pre {
  font-size: 95%;
  font-family: 'courier new', monospace;
  background-color: #f5f5b5;
  border: 1px solid #D9BB73;
}
</style>
{% endblock %}
{% block htmlBody %}
<h1 class="ui-corner-all ui-state-default hdr">Document {{d.entryUUID}}</h1>
<p><a href="{{d.URI}}">contents</a> ({{d.mimeType}})</p>
<h3>Document metadata (raw)</h3>
<pre>{{jsonStr}}</pre>
{% endblock %}
