<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <p>This is an <a href='http://www.ihe.net/'>IHE</a>
  <a href='http://ihewiki.wustl.edu/wiki/index.php/XDS_Main_Page'>XDS</a> Registry and Repository server. 
  Some links to begin with:</p>
  <ul>
    <li><a href='http://www.ihe.net/Technical_Framework/index.cfm#IT'>IT Infrastructure Technical Framework</a></li>
    <li><a href='http://wiki.ihe.net/index.php?title=XDS.b'>XDS implementation</a></li>
  </ul>
  <p>
    <small>&copy; 2010-2011 FORTH-ICS All rights reserved.</small>
  </p>
</body>
</html>